html, body{
    margin:0px;
    min-height: 100vh;
  }
  
  nav{
    list-style-type:none;
    font-family:"Montserrat", Arial, sans-serif;
    font-size: 2rem;
    padding:1em 1em;
    background:#662549;
  }
  .brackets{
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  
  nav a{
    color: white;
    text-decoration:none;
    text-align: center;
    padding:1em 2em;
    position:relative;
  }
  
  .brackets a:hover{
    color:#f39f5a;
  }
  .brackets a:before,
  .brackets a:after{
    position: absolute;
    opacity: 0;
    font-size: 1.5rem;
    transition: all 0.3s;
  }
    
  .brackets a:before{
    content: '(';
    left: 2.5rem;
    transform: translateX(0);
  }
  .brackets a:after {
    content: ')';
    right: 2.5rem;
    transform:translateX(0);
  }
  .brackets a:hover:before,
  .brackets a:hover:after {
      opacity: 1;
      transform: translateX(0);
  }
h2{
  font-family: "Montserrat", Arial, sans-serif;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 1rem 0;
	color: #1a1a1a;
}
#gallery{
  background: #662549;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -1rem -1rem;/*compensate for excess margin on outer gallery flex items*/
}
.gallery-box{
  background: red;
  flex: 1 0 24 rem;
  margin:1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0,0,0,0.4);
  text-align: center;
}
.gallery-image{
  max-width:100%;
  height:auto;
  border:solid 0.1em #f39f5a;
}

.gallery-image:hover {
	opacity:0.8;
}
  

  @media only screen and (max-width: 992px){
    .brackets a:before,
    .brackets a:after{
      font-size: 1.2rem;
    }
      .brackets a:before{
        left: 1.4em;
      }
      .brackets a:after {
        right: 1.4em;
      }
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {background: red;}
    nav{
        font-size: calc(16px + 0.390625vw);
    }
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    h1{background: green;}
    nav{
        font-size: calc(18px + 0.390625vw);
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h1{background: blue;}
    nav{
        font-size: calc(19px + 0.390625vw);
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1 {
      background: orange;
    }
    nav{
      font-size: calc(20px + 0.390625vw);
    }

    }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h1 {background: pink;}
    nav{
        font-size: calc(21px + 0.390625vw);
    } 
  }