body {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

h1, h2, h3, p {
  text-align: center;
}
h1{
  font-size:2rem;
}

.hero {
  background: radial-gradient(circle at top left,rgba(69	25	82), rgba(	243	159	90));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  background-size: cover;
  color: white;

}
.download-btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: #555;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
}
.navbar a {
 color: white;
 text-decoration: none;
 position: relative;
 font-size: 1.5rem;
}

.navbar a:before,
.navbar a:after {
 position: absolute;
 opacity: 0;
 font-size: 1.5rem;
 transition: all 0.3s;
}

.navbar a:before {
 content: '(';
 left: -15px; /* Adjust this value as needed */
}

.navbar a:after {
 content: ')';
 right: -15px; /* Adjust this value as needed */
}

.navbar a:hover:before,
.navbar a:hover:after {
 opacity: 1;
}

#about {
  margin-top: 2rem;
  padding-top: 2rem;
}
.about-container{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:20px;
}

.about-container p{
line-height:1.5;
}

.about-image {
  width: 200px;
  height: auto;
  float:center;
}
#projects{
 margin-top: 2rem;
 padding-top: 2rem;
}
#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  width: 200px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0,0,0,0.4);
}
.project-card img {
  width: 100%;
  height: auto;
}
/* .project-card:hover{
 opacity:0.8;
} */
.project-card .see-details-btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
}
.modal {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 1;
  overflow: auto;
  background-color: orange;
}
.modal h3 {
  margin: 10px 0;
}
.modal img {
  width: 80%;
  height: auto;
  margin: 5px 0;
}
.modal p {
  margin: 10px 0;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#contact {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-form-favicons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
.favicon {
    width: 50px;
    height: auto;
    margin:1.5rem;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 2rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-img {
  margin-bottom: 4rem; /* adjust this value as needed */
}

.contact-favicons {
  margin-top: 8rem; /* adjust this value as needed */
}
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=email] {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}